@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  font-weight: 600;
}

a.active {
  color: blue;
  transition: 1s;
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.bg-img {
  background-position: center;
}
